//Here you can customize bootstrap

$primary: #d40000;
$secondary: #fff;

.btn {
  border: 1px solid #d40000;
}
@media (max-width: 768px) {
  .heroimage {
    display: none !important;
  }
}
.nav-item {
  color: #2f3640;
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
  margin: 0rem 1.2rem;
}
.nav-link {
  color: #2f3640 !important;
}
.heroimage {
  margin-top: -100px;
}
@media (max-width: 576px) {
  .career {
    height: 60vh;
  }
  .mask {
    height: 50vh;
  }
  .flex-small-column {
    flex-direction: column !important;
}
  .mt-sm-2 {
    margin: 0.40rem  !important;
  } .mb-sm-2 {
    margin: 0.40rem  !important;
  }
}

.career {
  background-image: url("./../images/career.png");
  height: 80vh;
}
.mask {
  background: rgba(0, 0, 0, 0.6);
  height: 80vh;
}

@media (max-width: 576px) {
}
body {
  background-color: #fff;
}
@import "~bootstrap/scss/bootstrap";
